# ============================================
# PostgreSQL
# ============================================
POSTGRES_USER=user1
POSTGRES_PASSWORD=1234
POSTGRES_DB=telemetry
POSTGRES_PORT=5432

# ============================================
# Database (Prisma)
# ============================================
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}"

# ============================================
# API (NestJS)
# ============================================
API_PORT=3001
NODE_ENV=development

# ============================================
# Web (Next.js)
# ============================================
NEXT_PUBLIC_API_URL=http://localhost:3000
